.photo-grid {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    width: 1184px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(4, 284px);
    gap: 16px;
}

@media (max-width: 1279px) {
    .photo-grid {
        width: 928px;
        grid-template-columns: repeat(3, 300px);
        gap: 14px;
    }
}

@media (max-width: 1023px) {
    .photo-grid {
        width: 720px;
        grid-template-columns: repeat(2, 352px);
    }
}

@media (max-width: 767px) {
    .photo-grid {
        width: 288px;
        grid-template-columns: repeat(1, 288px);
        row-gap: 8px;
    }
}