.lead__title {
    width: 720px;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
}

/*Подборка размера шрифта и размера блока*/
@media (max-width: 720px) {
    .lead__title {
        max-width: 500px;
        font-size: 64px;
        margin-bottom: 16px;
    }
}

@media (max-width: 500px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        margin-bottom: 16px;
    }
}

@media (max-width: 320px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        margin-bottom: 16px;
    }
}