.lead__image {
    background-image: url(../../../images/lead-polka.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 64px auto 8px auto;
    width: 984px;
    height: 615px;
}

@media (max-width: 1024px) {
    .lead__image {
        width: 928px;
        height: 580px;
        margin-top: 56px;
    }
}

@media (max-width: 985px) {
    .lead__image {
        width: 768px;
        height: 480px;
        margin-top: 56px;
    }
}

@media (max-width: 767px) {
    .lead__image {
        width: 511px;
        height: 319px;
        margin-top: 40px;
    }
}

@media (max-width: 510px) {
    .lead__image {
        width: 320px;
        height: 200px;
    }
}