.intro {
    max-width: 690px;
    margin: 92px 0;
    display: flex;
    flex-direction: column;
    /*отталкиваемся от картинки*/
    padding-left: calc((100% - 984px) / 2);
}

@media (max-width: 985px) {
    .intro {
        max-width: 720px;
        padding-left: calc((100% - 768px) / 2);
    }
}

@media (max-width: 767px) {
    .intro {
        max-width: 450px;
        padding-left: calc((100% - 511px) / 2);
        margin: 88px 24px;
    }
}

@media (max-width: 511px) {
    .intro {
        max-width: 288px;
        padding-left: calc((100% - 320px) / 2);
        margin: 64px 16px;
    }
}