.intro {
    width: 690px;
    height: 429px;
    margin: 92px auto 92px auto;
    padding-right: 294px;
    /*для паддинга 984-690*/
    display: flex;
    flex-direction: column;
}

@media (max-width: 1024px) {
    .intro {
        padding-right: 238px;
    }
}

@media (max-width: 768px) {
    .intro {
        width: 720px;
        padding: 0;
        margin: 88px auto 88px auto;
    }
}

@media (max-width: 320px) {
    .intro {
        width: 288px;
        height: 754px;
        padding: 0;
        margin: 64px auto 64px auto;
    }
}