.cover__overlay {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    margin: 245px 312px 343px 312px;
}

@media (max-width: 1024px) {
    .cover__overlay {
        margin: 195px 232px 293px 232px;
    }
}

@media (max-width: 768px) {
    .cover__overlay {
        margin: 115px 104px 213px 104px;
    }
}

@media (max-width: 320px) {
    .cover__overlay {
        margin: 33px 16px 97px 16px;
    }
}