.cover__background {
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    background-image: url(../../../images/cover-trains.jpg);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 0 auto;
}

.cover__background::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    z-index: 0;
    content: "";
}

.cover__background:hover::before {
    opacity: 0.8;
}

@media (max-width: 1279px) {
    .cover__background {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media (max-width: 1023px) {
    .cover__background {
        max-width: 768px;
        min-height: 480px;
    }
}

@media (max-width: 767px) {
    .cover__background {
        max-width: 320px;
        min-height: 200px;
    }
}