.place {
    width: 984px;
    /*height: 660px;*/
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.place:last-child {
    padding-bottom: 92px;
}

@media (min-width: 1024px) {
    .place {
        width: 928px;
    }
}

@media (min-width: 768px) {
    .place {
        width: 720px;
        padding-bottom: 73px;
    }

    .place:last-child {
        padding-bottom: 90px;
    }
}