.place__url-heading {
    max-width: 456px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin: 0 0 12px 0;
}

@media (max-width: 1023px) {
    .place__url-heading {
        max-width: 352px;
    }
}

@media (max-width: 767px) {
    .place__url-heading {
        max-width: 288px;
    }
}