.header__lang-links {
    display: flex;
    align-items: flex-end;
    column-gap: 18px;
    font-size: 24px;
}

/*@media (min-width: 320px) {*/
/*    .header__lang-links {*/
/*        font-size: 18px;*/
/*    }*/
/*}*/